        /// <summary>
        /// {{#description}}{{{description}}}{{/description}}
        /// <summary>
        public enum {{{datatypeWithEnum}}} {
            
            {{#allowableValues}}{{#enumVars}}
            [DataMember(Name="{{value}}")]
            {{{name}}},
            {{/enumVars}}{{/allowableValues}}
        }